*
{
	margin: 0;
	padding: 0;
}

.application
{
	font-family: Verdana,Geneva,sans-serif;
	background: darkgray;
  display: flex;
  flex-direction: column;
	max-width: 1280px;  
}

.logo,
{
}

.navBar
{
  width: 100%;
  flex-direction: row;
	background: rgb(126,126,126);
	box-shadow: 1px 1px 1px black;
	border-top: 1px solid rgb(202,202,202);
	border-left: 1px solid rgb(74,74,74);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navBar img
{
}

.navBar > *
{
}

.logoutButton
{
  text-color: blue
}

.loginTab
{
	background: whitesmoke;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 1px 1px 1px black;
	text-align: right;
}

.registerTab
{
}

.selectedTab
{
}

.unselectedTab
{
}

.venderLogo
{
	width: 220px;
	margin: 0 5px;
}
