.ItemContainer
{
  border: 1px solid black;
}

.ItemPictureColumn
{
  height: 100px;
  width: 100px;
}

.ItemDescriptionColumn
{
  text-align: Center;
}

.SearchInput
{
  width: 100%;
  height: 30px;
  font-size: 150%;
}