div.application
{
  display: flex;
  flex-flow: row wrap;
}

.logo,
{
  flex: 1 100%;
}

.navBar
{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: stretch;
  flex-direction: row;
  flex: 1 100%;
  background-color: #AAAAAA;
}

.loginTab
{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 1 100%;
  flex-direction: column;
}

.navBarLeft
{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.navBarRight
{
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  flex-direction: row-reverse;
}



.selectedTab
{
  background-color: #FFFFFF;
  height: 100%;
}

.unselectedTab
{
  margin: 1px;
}

.registerTab
{
  align-self: flex-end;
  margin: 1px;
}