div.showOptions
{
  border: 1px solid;
}

.venderTabContainer
{
	display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
	justify-content: center;
}

.selectedVender
{
  border: 1px solid;
}

.unselectedVender
{
  margin: 1px;
}


.item
{
	width: 21rem;
	padding: 0.3rem;
	background: rgb(228,228,228);
	text-align: center;
}

.items
{
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: center;
}

.itemHeader
{
	color: white;
	text-shadow: 1px 1px 1px black;
	margin: 0 0 0.2rem;
	width: 100%;
	font-size: 2rem;
	padding: 0.5rem;
	background: rgb(95,95,95);
	border-bottom: 1px solid white;
	text-align: center;
}
