div.showOptions
{
  border: 1px solid;
}

.venderTabContainer
{
  /*
	display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
	*/
}

.selectedVender
{
  border: 1px solid;
}

.unselectedVender
{
  margin: 1px;
}

.cols .itemHeader
{
	color: white;
	text-shadow: 1px 1px 1px black;
	margin: 0 0 0.2rem;
	width: 100%;
	font-size: 2rem;
	padding: 0.5rem;
	background: rgb(95,95,95);
	border-bottom: 1px solid white;
}

.item
{
	width: 21rem;
	padding: 0.3rem;
	background: rgb(228,228,228);
}
